<!DOCTYPE html>
<html>
<head>
    <title>Behavioral Activity Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Early Behavioral Activity Analysis</h1>

    <p class="subtitle">
        Upload a child image to analyze motor activity level
    </p>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Analyze Image</button>
    </form>

    <p class="note">
        ⚠️ This tool analyzes motor activity patterns only.  
        It is NOT a medical or ADHD diagnosis system.
    </p>
</div>

</body>
</html>
